<!DOCTYPE html>
<html lang="en">
<head>
<title>Control Panel</title>
<link rel="stylesheet" type="text/css" href="/css/textbox.css">
</head>

<body>
    <h1>Enter a place</h1>
    <form action="." method="POST">
        <input type="text" name="text" class="textBOX">
        <input type="submit" name="my-form" value="Send">
    <h1>Options</h1>
	<p>Open window if temp is greater than<input type="textbox" name="open" class="TextBOX"></input> <input type="radio" name="scale" value="kelvin">Kelvin</input><input type="radio" name="scale" value="celcius">Celcius</input><input type="radio" name="scale" value="fah">FarenHeit</input></p>
    </form>
</body>
</html>
