<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Enter a place</h1>
    <form action="." method="POST">
        <input type="text" name="text">
        <input type="submit" name="my-form" value="Send">
    <h1>Options</h1>
	<p><input type="textbox" name="open"></input> <input type="radio" name="scale" value="kelvin">Kelvin</input><input type="radio" name="sclae" value="celcius">Celcius</input></p>
	<p>Window control<input type="radio" name="WindowControl"></input></p>
    </form>
</body>
</html>
